# Auto detect text files and perform LF normalization
* text=auto
# font-family: 'Montserrat', sans-serif;
background-color: #cd6858;
background-color: #dda15e;
color: #282828;
background-color: #282828;
