body{
    margin:0px;
    padding:0px;
    font-family: "Montserrat", sans-serif;
    color: #282828;
}

header{
    background-color: #282828;
    color:whitesmoke;
}

ul{
    display:flex;
    list-style-type:none;
    padding:25px;
    margin:0px;
}

.logo{
    height:20px;
    margin:20px 0px 0px 10px;
}

.header-title{
    font-size:20px;
    font-weight:700;
}

.menu{
    margin:20px 0px 0px auto;
}

.menu img{
    width:30px;
}

h1{
    font-weight:500;
    margin:10px 0px 10px 20px;
}

.hero-section{
    position:relative;
}

.hero-section img{
    width:100%;
    display:block;
}

.exclusive{
    background:#dda15e;
    position:absolute;
    top:0px;
    left:0px;
    padding:10px 20px;
    margin:0px;
}

.caption{
    display:flex;
    padding:0px 20px;
    justify-content: space-between;
    gap:6px;
}

.caption p{
    font-weight:600;
}

.book-btn{
    align-self:center;
    padding:10px 20px;
    background:#cd6858;
    border:0;
}

.message-bubble{
    border-radius:50%;
    background:#cd6858;
    width:40px;
    height:40px;
    display:flex;
    position:fixed;
    bottom:6px;
    right:6px;
}

.message-bubble img{
    width:50%;
    margin:auto;
}